/* Input container */
.inputContainer {
  margin: 20px;
  margin-left: 950px;
  position: relative;
  bottom: 700px;
  width: 100%;
}

/* Input field */
.input-field {
  display: block;
  width: 30%;
  padding: 10px;
  font-size: 16px;
  height: 80px;
  border: none;
  border-bottom: 2px solid #ccc;
  border-radius: 18px;
  box-shadow: 8px 8px 0px #333;
  outline: none;
  background-color: #fff;
}

/* Input label */
.input-label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 25px;
  color: rgba(204, 204, 204, 0);
  pointer-events: none;
  transition: all 0.3s ease;
}

/* Input highlight */
.input-highlight {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  transition: all 0.3s ease;
}

/* Input field:focus styles */
.input-field:focus + .input-label {
  top: -20px;
  font-size: 12px;
  color: #007bff;
}

.input-field:focus + .input-label + .input-highlight {
  width: 31.4%;
}

.user-comment {
  width: 500px;
  height: 400px;
  scroll-behavior: auto;
}

.link-grey {
  color: #aaa;
}
.link-grey:hover {
  color: #00913b;
}
.comment_con {
  margin-left: 150px;
  height: 600px;
  width: 68%;
  position: relative;
  bottom: 400px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  border-radius: 50px;
}
.comment_con::-webkit-scrollbar {
  display: none;
}
.comment_fin {
  width: 700px;
  height: auto;
  background-color: #fff;
  border-radius: 36px;
}
.comment_div {
  margin-left: 10px;
  margin-top: 30px;
  display: flex;
  margin-bottom: 10px;
}
.commenter_img {
  margin-left: 20px;
  margin-top: 15px;
  margin-bottom: 5px;
  width: 80px;
  height: 80px;
  border-radius: 400px;
}
.commenter_name {
  margin-top: 40px;
  margin-bottom: 10px;
  margin-left: 20px;
}
.comment_one {
  margin-left: 130px;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  bottom: 35px;
  font-size: 20px;
}
.comment_input {
  font-size: 20px;
  display: none;
}
#showComment {
  margin-left: 1310px;
  position: relative;
  bottom: 1000px;
}
/* like button */

#icon {
  font-size: 30px;
  cursor: pointer;
  color: #f5c518;
  margin-top: 15px;
  margin-bottom: 40px;
  margin-left: 200px;
}

/* edit style  */

.comments_edit {
  margin-left: 40px;
  margin-right: 50px;
  margin-top: 25px;
  cursor: pointer;
}
.comments_edit:hover {
  color: #007bff;
}
.comments_delete {
  cursor: pointer;
  margin-top: 25px;
  margin-right: 10px;
}
.comments_delete:hover {
  color: red;
}

/* edit  for js */

.new_input {
  margin-left: 150px;
  margin-bottom: 10px;
  padding: 30px;
  width: 400px;
  border-radius: 10px;
}
.new_input:valid {
  border-width: 2px;
  border-color: black;
}
.new_input:invalid {
  border-width: 2px;
  border-color: gray;
}
.input_btn {
  padding: 10px;
  font-size: 20px;
  background-color: #f5c518;
  border: none;
  border-radius: 10px;
  position: relative;
  bottom: 10px;
  transition: 0.4s;
  margin-left: 530px;
  margin-top: 10px;
  font-weight: bold;
}
.input_btn:hover {
  transform: scale(1.1);
  transition: 0.4s;
  cursor: pointer;
}
.times {
  position: relative;
  left: 250px;
  bottom: 90px;
  font-size: 16px;
}
.editedMsg {
  font-size: 18px;
  position: relative;
  bottom: 50px;
  left: 400px;
}
.editComment {
  font-size: 17px;
  margin-left: 380px;
}
