.deleteDiv {
  display: flex;
  margin-left: 80px;
  position: relative;
  bottom: 50px;
}

.deleteBtn {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border: none;
  position: relative;
  margin-right: 250px;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 5px 0.2px #00000035;
  box-shadow: 1px 1px 5px 0.2px #00000035;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  transition-delay: 0.2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: space-between;
}

.deleteBtn:hover {
  width: 150px;
  transition-delay: 0.2s;
}

.deleteBtn:hover > .paragraph {
  visibility: visible;
  opacity: 1;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.deleteBtn:hover > .delete-wrapper .deleteIcon {
  transform: scale(1.1);
  visibility: hidden;
}

.bnt:hover > .delete-wrapper .deleteIcon path {
  stroke: #333;
}

.paragraph {
  color: black;
  visibility: hidden;
  opacity: 0;
  font-size: 18px;
  margin-right: 20px;
  padding-left: 20px;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  font-weight: bold;
  text-transform: uppercase;
}

.delete-wrapper {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.deleteIcon {
  transform: scale(0.9);
  transition: 0.2s linear;
}

.deleteIcon path {
  stroke: #000;
  stroke-width: 2px;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}
