.feed {
  font-size: 40px;
  color: #333;
  font-weight: 800;
  width: auto;
  position: relative;
  left: 360px;
  bottom: 400px;
  border-bottom: 0px solid white;
  transition: all 1s ease;
}
.feed:hover {
  border-bottom: 7px solid #333;
  width: 170px;
  cursor: pointer;
}

.user-comment {
  width: 500px;
  height: 400px;
  scroll-behavior: auto;
}

.comment_con {
  margin-left: 280px;
  height: 600px;
  width: 100%;
  position: relative;
  bottom: 300px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  border-radius: 50px;
}
.comment_con::-webkit-scrollbar {
  display: none;
}
.comment_fin {
  width: 700px;
  margin-left: 100px;
  height: auto;
  background-color: #fff;
  border-radius: 36px;
  transition: 0.4s;
}
.comment_fin:hover {
  transform: scale(1.1);
  transition: 0.4s;
}
.comment_div {
  margin-left: 10px;
  margin-top: 30px;
  display: flex;
  margin-bottom: 10px;
}
.commenter_img {
  margin-left: 20px;
  margin-top: 15px;
  margin-bottom: 5px;
  width: 80px;
  height: 80px;
  border-radius: 400px;
}
.commenter_name {
  margin-top: 40px;
  margin-bottom: 10px;
  margin-left: 20px;
}
.comment_one {
  margin-left: 130px;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  bottom: 35px;
  font-size: 20px;
}
.comment_input {
  font-size: 20px;
}
#showComment {
  margin-left: 1310px;
  position: relative;
  bottom: 1000px;
}

/* edit style  */

.comments_edit {
  margin-left: 140px;
  margin-right: 80px;
  margin-top: 25px;
  cursor: pointer;
}
.comments_edit:hover {
  color: #007bff;
}
.comments_delete {
  cursor: pointer;
  margin-top: 25px;
  margin-right: 10px;
}
.comments_delete:hover {
  color: red;
}

/* edit  for js */

.comment_input {
  display: none;
}
.new_input {
  margin-left: 150px;
  margin-bottom: 10px;
  padding: 30px;
  width: 400px;
  border-radius: 10px;
}
.new_input:valid {
  border-width: 2px;
  border-color: black;
}
.new_input:invalid {
  border-width: 2px;
  border-color: gray;
}
.input_btn {
  padding: 10px;
  font-size: 20px;
  background-color: #f5c518;
  border: none;
  border-radius: 10px;
  position: relative;
  bottom: 10px;
  transition: 0.4s;
  margin-left: 530px;
  margin-top: 10px;
  font-weight: bold;
}
.input_btn:hover {
  transform: scale(1.1);
  transition: 0.4s;
  cursor: pointer;
}
