.input-container {
  left: 450px;
  top: 27px;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 10;
}

.input {
  width: 40px;
  height: 25px;
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 18px 16px;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.input::placeholder {
  color: transparent;
}

.input:focus::placeholder {
  color: rgb(131, 128, 128);
}

.input:focus,
.input:not(:placeholder-shown) {
  background-color: #fff;
  border: 2px solid #333;
  width: 350px;
  cursor: none;
  padding: 18px 16px 18px 40px;
}

.icon {
  position: absolute;
  left: 0;
  top: 0;
  height: 40px;
  width: 40px;
  background-color: #fff;
  border-radius: 10px;
  z-index: -1;
  fill: #333;
  border: 1px solid #333;
}

.input:hover + .icon {
  transform: rotate(360deg);
  transition: 0.2s ease-in-out;
}

.input:focus + .icon,
.input:not(:placeholder-shown) + .icon {
  z-index: 0;
  background-color: transparent;
  border: none;
}

.showSugg {
  background-color: #fff;
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 480px;
  width: 380px;
  border-radius: 20px;
  min-height: 116px;
  max-height: 350px;
  display: none;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  position: fixed;
  z-index: 10;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-color: #989898;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #7d7d7d;
}
.suggesDiv {
  margin-top: -5px;
  cursor: pointer;
}
.suggesImg {
  margin-left: 10px;
  width: 80px;
  height: 80px;
}
.suggesTitle {
  position: relative;
  left: 110px;
  bottom: 90px;
  margin-top: 30px;
  font-size: 20px;
  margin-left: 10px;
}
.backGround {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 9;
}
