body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.user-profile {
  display: flex;
  flex-direction: column;
}

.user-profile img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 240px;
  margin-left: 130px;
  margin-right: 60px;
}

#userDetails {
  margin-left: 10px;
  margin-top: 220px;
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#userDetails h1 {
  margin-bottom: 30px;
}
.setData {
  margin-top: 220px;
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.setData h1 {
  margin-bottom: 30px;
  color: #333;
}
.userSet {
  display: flex;
  flex-direction: row;
}
.userBtnGrp {
  width: 600px;
  position: relative;
  right: 150px;
  bottom: 340px;
}

.btn6 {
  width: 50px;
  background: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  height: 60px;
  font-size: 18px;
  position: relative;
  left: -5px;
  opacity: 1;
  transition: 1.5s;
}
.btn6:hover {
  background-color: gray;
  transition: 1.5s;
  transform: scale(0.9);
}
