html {
  overflow-x: hidden;
}
h1 {
  color: #f5c518;
  text-align: center;
  font-size: 50px;
  transition: width 2s;
}
h1:hover {
  cursor: pointer;
}

.head {
  font-size: 40px;
  text-align: center;
  color: brown;
}
.head:hover {
  text-decoration: underline;
  cursor: pointer;
}
.up {
  font-size: 40px;
  color: gray;
  margin-left: 50px;
  border-bottom: 1px solid gray;
  width: 1px;
  transition: all 1s ease;
}
.up:hover {
  border-bottom: 7px solid gray;
  width: 180px;
  cursor: pointer;
}
.for {
  margin-left: 65px;
  margin-top: 80px;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: 135px;
  margin-left: 20px;
  margin-right: 20px;
  color: #717171;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

@keyframes box {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}

.left {
  float: right;
  border: 2px solid black;
  width: 40%;
  height: 300px;
  border-radius: 25px;
  padding: 80px;
  margin-right: 30px;
  margin-bottom: 200px;
}
.left:hover {
  background-color: #efefef;
}
* {
  margin: 0;
  padding: 0;
  font-family: monospace;
}
ul {
  list-style: none;
  background: brown;
  position: fixed;
  width: 1485px;
}
ul li {
  display: inline-block;
  position: relative;
}
ul li a {
  display: block;
  padding: 20px 25px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
}
.width {
  display: block;
  padding: 20px 45px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
}
ul li ul.dropdown li {
  display: block;
}
ul li ul.dropdown {
  width: 100%;
  background: brown;
  position: absolute;
  z-index: 999;
  display: none;
}
ul li a:hover {
  background: gray;
}
ul li:hover ul.dropdown {
  display: block;
}
body {
  width: 100%;
}
iframe {
  border-radius: 10px;
}
img {
  border-radius: 8px;
}
h2 {
  color: gray;
  font-size: 30px;
}
p {
  font-size: 20px;
}
#star {
  margin-top: 10px;
  margin-left: 13px;
  color: gray;
  padding: 10px;
  font-size: 25px;
}
.rate {
  font-size: 23px;
  margin-left: 50px;
  padding-left: 5px;
  position: relative;
  bottom: 35px;
}
.slider {
  display: flex;
}
.box {
  margin-left: 80px;
  border: 2px solid brown;
  border-radius: 10px;
  background-color: rgba(247, 229, 229, 0.913);
  max-width: 200px;
  height: 430px;
  margin-top: 50px;
  margin-bottom: 50px;
  cursor: pointer;
  box-shadow: 12px 15px 10px rgba(238, 206, 206, 0.913);
  transition: 0.4s;
  animation-name: box;
  animation-duration: 1.5s;
}
.box:hover {
  transform: scale(1.1);
  transition: 0.4s;
}
.title {
  font-size: 25px;
  margin-left: 25px;
  position: relative;
  bottom: 25px;
  cursor: pointer;
}
.btn {
  padding: 10px;
  width: 140px;
  margin-left: 25px;
  color: white;
  font-size: 15px;
  background-color: gray;
  position: relative;
  bottom: 30px;
  border: none;
  border-radius: 5px;
  transition: 0.5s;
}
.btn:hover {
  transform: scale(0.8);
  transition: 0.5s;
}
.try {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.link {
  text-decoration: none;
  color: gray;
}
.menu {
  display: flex;
  overflow-x: auto;
  background-color: white;
  scroll-behavior: smooth;
}
.menu::-webkit-scrollbar {
  display: none;
}

.gif {
  width: 40%;
  height: 500px;
  float: right;
  position: relative;
  bottom: 100px;
}
.about {
  font-size: 40px;
  color: rgb(202, 172, 172);
  max-height: 300px;
}
.finish {
  display: flex;
  margin-left: 40px;
  margin-right: 40px;
}
.film {
  color: brown;
  font-weight: bold;
  font-size: 50px;
}
.footer {
  width: 1550px;
  height: 400px;
  position: relative;
  top: 150px;
  right: 30px;
  background-color: brown;
}

.last {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 8px;
  display: block;
  margin-left: 200px;
}
.last:hover {
  text-decoration: underline;
}
.links {
  font-size: 25px;
  color: gray;
  margin-left: 135px;
}

#itag {
  padding: 20px;
  color: white;
  font-size: 40px;
  margin-left: 30px;
  position: relative;
  left: 130px;
  top: 100px;
}
#itag:hover {
  color: gray;
}
.quick {
  padding-top: 30px;
  margin-left: 100px;
}
.social {
  position: relative;
  left: 600px;
}
.vid {
  width: 70px;
  position: relative;
  top: 20px;
  left: 30px;
  transition: 0.4s;
}
.vid:hover {
  transform: scale(0.8);
  transition: 0.4s;
}
.home {
  max-width: 1440px;
}
.cast {
  font-size: 40px;
  margin-top: 60px;
  margin-left: 52px;
}
.angle {
  width: 45px;
  position: relative;
  top: 13px;
  right: 20px;
  color: yellow;
}
.actor {
  margin-top: 50px;
  margin-left: 70px;
  width: 120px;
  height: 120px;
  border-radius: 200px;
}
.actor:hover {
  opacity: 0.8;
}
.ang {
  text-decoration: none;
}
.actor-name {
  font-size: 25px;
  color: black;
  position: relative;
  bottom: 60px;
  left: 30px;
}
.actor-name:hover {
  text-decoration: underline;
}
.sec-list {
  position: relative;
  left: 400px;
  bottom: 700px;
}
.top {
  margin-top: 150px;
  background-color: #efefef;
  max-height: 800px;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 15px;
}
.btn3 {
  padding: 16px;
  padding-left: 60px;
  font-size: 20px;
  font-weight: bold;
  background-color: #f5c518;
  border: none;
  border-radius: 10px;
  margin-top: 48px;
  margin-left: 20px;
  transition: 0.4s;
}
.btn3:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.4s;
}
.watch {
  position: relative;
  left: 800px;
  bottom: 1353px;
}
.play {
  width: 50px;
}
.national,
h4 {
  text-decoration: none;
  color: black;
  font-size: 25px;
  margin-left: 80px;
  margin-top: 40px;
}
.national:hover {
  text-decoration: underline;
}
#play {
  position: relative;
  right: 280px;
  top: 5px;
  font-size: 30px;
  background: #f5c518;
}
a {
  text-decoration: none;
  color: white;
}
.btn4 {
  padding: 18px;
  font-size: 20px;
  background-color: #f5c518;
  border: none;
  border-radius: 10px;
  transition: 0.4s;
  margin-left: 80px;
  font-weight: bold;
}
.btn4:hover {
  transform: scale(1.1);
  transition: 0.4s;
  cursor: pointer;
}
.top-arrow {
  font-size: 30px;
}
.conForm {
  width: 20%;
  height: 350px;
  padding: 80px;
  border: 1px solid brown;
  border-radius: 15px;
  transition: 0.4s;
  position: relative;
  left: 550px;
  top: 250px;
  background: #efefef;
}
.conForm:hover {
  transition: 0.4s;
  transform: scale(1.1);
}
.log {
  font-size: 30px;
  color: brown;
  font-weight: 800;
  position: relative;
  left: 100px;
}

.inputBox {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.inputBox input {
  width: 100%;
  padding: 5px 0px;
  font-size: 20px;
  margin: 10px 0px;
  border: none;
  background-color: #efefef;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}

.inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0px;
  font-size: 16px;
  margin: 10px 0px;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}

.inputBox input:focus ~ span,
.inputBox input:valid ~ span,
.inputBox textarea:focus ~ span,
.inputBox textarea:valid ~ span {
  color: brown;
  font-size: 12px;
  transform: translateY(-20px);
}

.btn5 {
  width: 30%;
  background: brown;
  color: #fff;
  border: none;
  margin-top: 60px;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  margin-left: 90px;
  opacity: 1;
  transition: 1.5s;
}
.btn5:hover {
  background-color: rgb(212, 88, 88);
  transition: 1.5s;
}
.with {
  margin-top: 40px;
  margin-left: 8px;
  font-size: 15px;
  color: #666;
}
.with:hover {
  text-decoration: underline;
}
.login-with {
  display: flex;
}
.google {
  margin-left: 20px;
  width: 40px;
  height: 40px;
  position: relative;
  top: 28px;
  border-radius: 50px;
  transition: 0.8s;
}
.google:hover {
  opacity: 0.9;
  cursor: pointer;
  box-shadow: 2px 2px 2px #666;
  transition: 0.8s;
}
.facebook {
  margin-left: 20px;
  width: 38px;
  height: 38px;
  position: relative;
  top: 28px;
  border-radius: 50px;
  transition: 0.8s;
}
.facebook:hover {
  opacity: 0.9;
  cursor: pointer;
  box-shadow: 2px 2px 2px #666;
  transition: 0.8s;
}
.btn-log {
  margin-left: 835px;
}
.btn-log-1 {
  margin-left: 777px;
}
.bg {
  background-color: rgb(209, 69, 69);
}
.btn6 {
  width: 30%;
  background: gray;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  position: relative;
  left: 210px;
  bottom: 130px;
  opacity: 1;
  transition: 1.5s;
}
.btn6:hover {
  background-color: #333;
  transition: 1.5s;
}
.policy {
  display: flex;
  position: relative;
  left: 670px;
  bottom: 200px;
}
.last-one {
  margin-top: 80px;
  margin-left: 50px;
  font-size: 20px;
}
.privacy {
  position: relative;
  left: 750px;
  bottom: 170px;
}
.last-one:hover {
  text-decoration: underline;
}
